h1,.user{
 margin-left: 40px;
}
h2{
 margin-left: 60px;
}
.title {
 margin-left: 60px
}
.post, .like {
 margin-left: 140px
}
.back, .create{
 margin-left:70px;
}
.comment{
 margin-left: 140px
}
.create{
   padding-top:  30px
}
.delete{
 margin-left: 60px
}